html {
    height: 100%;
}

body {
    background-color: #fff9e7;
    font-family: Montserrat, sans-serif;
    min-height: 100%;
    touch-action: none;
}

#welcome-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.dimension-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
}
.dimension-button {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    justify-content: center;
}
.dimension-button button {
    height: 45px;
    width: 45px;
}
.dimension-button button:hover {
    cursor:pointer;
}
.dimension-button p {
    padding: 0 20px 0 20px;
}
.inliners {
    display: inline-block;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30%;
    font-family: Montserrat, sans-serif;
}
.create-button {
    font-size: 20px;
    height: 60px;
    width: 160px;
    border-radius: 17px;
}
.fade-in {
    animation: fadeInAnimation ease .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-out {
    animation: fadeOutAnimation ease .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    margin: 20px;
}

#grid {
    display: grid;
    margin-top: 20px;
}

.tile {
    width: 100px;
    height: 100px;
    cursor: pointer;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: transform .6s ease;
}

.dragging {
    position: absolute;
    pointer-events: none;
    transition: transform 0.3s ease;
    transform: scale(1.25);
    z-index: 1000;
}

.dot {
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

.swapping {
    transition: transform 0.18s ease;
}

/* .shrink {
    transition: transform .6s ease;
    transform: scale(0);
}

.expand {
    transition: transform .6s ease;
    transform: scale(1);
} */