html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #fff9e7;
    font-family: Arial, sans-serif;
    min-height: 100%;
    touch-action: none;
}

#controls {
    margin: 20px;
}

#grid {
    display: grid;
    margin-top: 20px;
}

.tile {
    width: 100px;
    height: 100px;
    cursor: pointer;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dragging {
    position: absolute;
    pointer-events: none;
    transition: transform 0.3s ease;
    transform: scale(1.25);
    z-index: 1000;
}

.dot {
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

.swapping {
    transition: transform 0.18s ease;
}
