.stats {
  padding-top: 10px;
  display: flex;
  justify-content: space-between; /* Distribute space between the two divs */
  gap: 20px; /* Space between the two divs */
  padding-bottom: 10px;
}

.stats > div {
  flex: 1; /* Allow each div to take equal space */
  padding: 10px;
  background: #f0f0f0;
  border-radius: 8px;
}

.button-div {
  display: flex;
  justify-content: space-between; /* Distribute space between the two divs */
  gap: 10px; /* Space between the two divs */
}

.overlay .button-div {
  padding-top: 20px;
}

.button-div button {
  font-size: 20px;
  height: 60px;
  /* width: 90%; */
  border-radius: 17px;
  flex: 1;
}

.final-dimension-adjust {
  display: flex;
  justify-content: space-between; /* Distribute space between the two divs */
  gap: 10px; /* Space between the two divs */
}

.final-dimension-adjust div {
  flex: 1;
  padding-bottom: 5px;
}

.final-dimension-adjust > div > button {
  width: 35%;
  height: 43px;
  border-radius: 17px;
  font-size: 20px;
}
